.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  text-transform: uppercase;
  background-color:#f2f2f2;
  width: 1200px;
}

a {
  text-decoration: none;
}


.main-header {
  background-color: #ffffff;

}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation,
.site-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover
 {
color: #81b3d2;
}

.site-navigation a:focus,
.user-navigation a:focus
{
color: #b3b3b3;
}

.top-banner {
  background-image: url("../img/bg_banner.jpg");
  background-repeat: no-repeat;
  width: 1200px;
	height: 564px;
}

.city-info {
  background-color: #ffffff;
  text-align: center;
}

.city-info h1 {
  font-size: 21px;
  line-height: 26px;
}










.reasons-item-1,
.reasons-item-2
 {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reasons-item-1 h4,
.reasons-item-2 h4
 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}


.advantages {
  background-color: #ffffff;
}

.advantages-item {
  text-align: center;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

}

.advantages-item h4 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features {
  background-color: #eeeeee;
}

.features-item {
text-align: center;
color: #333333;
font-size: 14px;
line-height: 21px;
font-weight: 400;
}

.features-item h4 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.appointment {
  background-color: #ffffff;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.appointment-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.appointment h4 {
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.appointment h4:hover{
  background-color:#604e43;
}

.appointment h4:focus{
  background-color: #503e33;
  color :#857871;
}

.search-form {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;


}

.search-form input {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: none;

}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.search-form .button-minus,
.search-form .button-plus {
  font: inherit;
  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:focus,
.button-plus:focus {
  color: #81b3d2;
}

.button.search-button {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  background-position: 0 0;
  background-repeat: repeat;
  list-style: none;
}

.footer-social a {
  color: #000000;
  text-decoration: none;
}
.social-link {
  list-style: none;
}

.footer-copyright b {
  color: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

body .container {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-menu {
  background-image: url("../img/bg_banner_blur.jpg");
  background-position: 0,0;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-menu fieldset {
  border: none;
}

.filter-ul {
  list-style: none;
  padding: 0;
}

.hotel-service legend,
.hotel-type legend,
.price-menu  legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.container .search-hotels-button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: inherit;
  width: 133px;
  height: 32px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.container .search-hotels-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.price-menu input {
    color: inherit;
    background-color: inherit;
    border: none;
}

.price-controls  {
  width: 318px;
  height: 36px;
  border: 2px solid #ffffff;
  text-align: left;
}

.search-result ul {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}


.search-list,
.hotels-list {
  list-style: none;
}


.search-list .count,
.hotels-list h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-list .sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.btn-sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  border-bottom: dotted #81b3d2;
}

.btn-sorting:hover{
  color:#81b3d2;
  border-bottom: dotted #81b3d2;
  opacity: 1;
}

.btn-sorting:focus{
  color:#000000;
  border-bottom: none;
  opacity: 1;
}

.btn-sorting-active{
  color:#81b3d2;
  border-bottom: none;
  opacity: 1;
}

h3:hover{
  color:#81b3d2;
}

h3:focus{
  color:#000000;
  opacity: 0.3;
}

.info-wrapper b {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color:#333333;
}

.button-wrapper a {
  width: 110px;
   margin: 50px auto;
}

.button-wrapper .button-info  {
  font-weight: 700;
  color:#ffffff;
  background-color: #81b3d2;

}

.button-wrapper .button-info:hover  {
  background-color: #669ec0;

}

.button-wrapper .button-info:focus  {
  background-color: #5496bd;
  color: rgb(100%, 100%, 100%, 0.3);
}

.button-wrapper .button-buy  {
  font-weight: 700;
  color:#ffffff;
  background-color: #766357;
}

.button-wrapper .button-buy:hover  {
  background-color: #604e43;
}

.button-wrapper .button-buy:focus  {
  background-color: #503e33;
  color: rgb(100%, 100%, 100%, 0.3);
}

.hotel-rating .rating {
width: 110px;
height: 27px;
background-color: #f2f2f2;
color: #666666;
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: center;
vertical-align: bottom;
}

.stars-wrapper.amara {
  width: 92px;
  height: 17px;
  display: inline-block;
  background-color: #ffffff;
}

.stars-wrapper.desert {
  width: 70px;
  height: 17px;
  display: inline-block;
  background-color: #ffffff;
}
.stars-wrapper.diablo{
width: 43px;
height: 17px;
display: inline-block;
background-color: #ffffff;}



.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

.site-navigation {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin:0;
  margin-left: 72px;
  margin-right: 72px;
  justify-content: flex-start;
  align-items: center;
  padding:0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

}

.site-navigation li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;

}

ul li:first-child {
  text-align: left;
}

ul li:nth-child(2) {
  text-align: left;
}

ul li:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

ul li:last-child {
  text-align: right;

}

.top-banner {
  display:flex;
  flex-direction: column;
  margin-top: -72px;
  align-items: center;
  margin-bottom:0;
}

.top-banner img {
  margin-top:132px;
  margin-bottom:25px;
}

.top-banner::after {
  content: url("../img/banner_mask.png");
}

.city-info {
  margin-top:0;
}

.city-info h1 {

  width: 440px;
  margin: 0 0 0 0;
  padding-top: 61px;
  padding-left: 380px;
  padding-bottom: 28px;

}
.city-info p {
  margin: 0 0 0 0;
  padding-bottom: 56px;
}

.reasons-1 {
  display: flex;
  flex-direction: row;
  min-height: 256px;
}

.reasons-item-1 {
width: 280px;

padding-left: 60px;
padding-right: 60px;
padding-top: 46px;
padding-bottom:64px;
}

.reasons-item-1 h4 {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;
}

.reasons-item-1 span {
  display: inline-block;
  margin-top: 27px;
  margin-bottom: 23px;
}


.reasons-item-1 p {
  display: inline-block;
  margin: 0;
}

.reasons-image-1 {
  width: 800px;
  min-height: 146px;
  background-image: url("../img/layer 10.jpg");
  background-position: right, center;
  background-repeat: no-repeat;
  background-size: 800px;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.advantages .advantages-item {
  width: 33%;
  margin-top: 60px;
}

.advantages-item.appartments::before {
  content: url("../img/icon-1.png");
  background-size: 75px;}

.advantages-item.gifts::before {
content: url("../img/icon-2.png");
margin-top: 56px;
}

.advantages-item.food::before {
content: url("../img/icon-3.png");
}

.advantages-item h4 {
  margin-top: 24px;
  margin-bottom: 23px;
}

.advantages-item p {
  margin-bottom: 86px;
  padding-left : 55px;
  padding-right: 55px;
}

.reasons-2 {
  display: flex;
  flex-direction: row;

}

.reasons-item-2 {
width: 280px;

padding-left: 60px;
padding-right: 60px;
padding-top: 43px;
padding-bottom:62px;
}

.reasons-item-2 h4 {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.reasons-item-2 span {
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 23px;
}

.reasons-item-2 p {
  display: inline-block;
  margin: 0;
}

.reasons-image-2 {
  width: 800px;
  min-height: 146px;
  background-image: url("../img/layer 5.jpg");
  background-position: left, center;
  background-repeat: no-repeat;
  background-size: 800px;
  order: -1;
}

.features {
  display: flex;
  flex-direction: row;

}

.features-item {
  width: 33%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom:62px;


}

.features-item h4 {
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.features-item span {
  display: inline-block;
  margin-top: 23px;
  margin-bottom: 23px;
}

.features-item p {
  display: inline-block;
  margin: 0;
}

.appointment {
  position: relative;
  text-align: center;
  padding-top: 50px;

}

.appointment h2 {
  margin: 0 0;
}

.appointment p {
  display: inline-block;
  margin: 0 ;
  padding-top:20px;
  padding-bottom: 135px;
}


.form-block {
  position: absolute;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  left:50%;
  transform: translateX(-50%);
  top:175px;
  width: 568px;
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 55px;
}

.form-block h4 {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

}
.form-shadow {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.form-block label {
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 55px;
}

.search-form {
  width: 568px;
  margin-left: 55px;
  margin-right: 55px;


}

.search-form input {
  background: rgba(284, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(284, 255, 45);


  width: 346px
}



.appointment-item input {
  width: 346px;}



.search-form {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.search-form {

  margin: 0;
  margin-bottom: 29px;
}






.appointment .map {
  background-position: center;
  margin-top:0px;
  background-size: 1200px 593px;
  width: 1200px;
  height:  593px;
}

.main-footer{
  background-color: #ffffff;
  opacity: 0.9;

}

.footer-social{
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 120px;
  padding-right: 101px;
  padding-left: 132px;
  margin-top:-120px ;


}

.sedona-visit {
  margin-top: 47px;
  align-items: center;
}


.social-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 180px;
  margin: 0;
  margin-top: 36px;
  padding: 0;

}

.social-button {
  position: absolute;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  padding: 0;
  opacity: 0.3;

}

.social-button.twitter::after {



}

.social-button.facebook::after {
  content: "";
  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 13px 23px;
}

.social-button.youtube::after  {
  content: "";
  background-image: url("../img/youtube.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 20px 16px;
}




.social-button:hover {
  background-color: #669ec0;
}


.social-button.twitte:active::after,
.social-button.facebook:active::after,
.social-button.youtube:active::after {
  background-color: #5496bd;
	opacity: 0.3;
}





.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 42px;
  width: 197px;
  margin: 0 0 0 0;
  margin-top: 39px;
}

.footer-copyright b {
  display: block;
  padding-top: 15px;
  margin: 0 auto;
}

.copyright-logo path {
  fill: #231f20;
}

.copyright-logo:hover path {
	fill: #81b3d2;
}

.copyright-logo:active path {
	fill: #bdbbbc;
}



.filter {
  display: flex;
  justify-content: flex-start;
  padding-left:72px;
  padding-top: 29px;
  padding-right:74px;
  padding-bottom: 35px;
  margin: 0;
}

.hotel-type {
  margin-left: 115px;
}

.price-menu {
  margin-left: auto;
}

.filter-ul {
  margin: 0;
}

.filter-ul li {
  padding-bottom: 23px;

}

.filter-ul li:last-child {
  padding-bottom: 0;

}

.filter-ul li:first-child {
  padding-top: 24px;
}

.search-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding-left: 72px;
  align-items: center;
}


.search-list li:nth-child(2) {
  margin-left: 49px;
  margin-right: 40px;
}
.search-list li:nth-child(3),
.search-list li:nth-child(4),
.search-list li:nth-child(5) {
  margin-left: 33px;
}

.sort-result-btn {
  margin-left: auto;
  margin-right: 73px;
}

.search-result {
  background-color: #f2f2f2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.hotels-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 73px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.hotels-item h3 {
  margin: 0;
  text-align: left;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  margin-left: 30px;
}

.info-wrapper {
  display: flex;
  justify-content:space-between;
  text-align: left;
  width: 185px;
}

.button-info,
.button-buy {
  padding: 7px 17px;
  vertical-align: middle;
}




.hotel-rating {

  display: flex;
  flex-direction: column;
  margin-left: auto;
}





 .container .footer-social {
   margin-top:0px ;
}
