.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color:#000000;
  text-transform: uppercase;
  background-color:#f2f2f2;
}

.container {
  width: 1200px;
  margin:0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  padding: 0;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation,
.site-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus,
.user-navigation a:focus{
  color: #b3b3b3;
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  background-image: url("../img/logo.png");
  width:138px;
  height: 70px;
}

.site-navigation {
  display:flex;
  flex-wrap: wrap;
  margin:0 72px -55px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
  text-align: center;
}

.site-navigation li {
  display: inline-block;
  padding: 0 10px;
  width: 20%;
}

.site-navigation li:first-child {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.site-navigation li:last-child {
  text-align: right;
}

.top-banner {
  background-image: url("../img/bg_banner.jpg");
  background-repeat: no-repeat;
  width: 1200px;
	height: 568px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:0;
}

.top-banner img {
  margin:132px 0 25px;
}

.top-banner::after {
  content: url("../img/banner_mask.png");
}

.city-info {
  background-color: #ffffff;
  text-align: center;
  width: 1200px;
  margin-top:-6px;
}

.city-info h1 {
  font-size: 21px;
  line-height: 26px;
  width: 500px;
  margin: 0;
  padding:61px 0 28px 345px ;
}

.city-info p {
  margin:0;
  padding-bottom: 56px;
}

.reasons-item-1,
.reasons-item-2 {
  position: relative;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reasons-item-2 {
  margin-left: 800px;
}

.reasons-item-1 h4,
.reasons-item-2 h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.reasons-item-1::after {
  content: "";
  position: absolute;
  top:0;
  left: 400px;
  width: 800px;
  min-height: 256px;
  background-image: url("../img/feature-1.jpg");
  background-position: left center;
}

.reasons-item-2::before {
  content: "";
  position: absolute;
  top:0;
  right:400px;
  width: 800px;
  min-height: 256px;
  background-image: url("../img/feature-2.jpg");
  background-position: left center;
}

.reasons-1 {
  display: flex;
  min-height: 256px;
}

.reasons-item-1 {
  width: 280px;
  padding: 46px 60px 60px;
}

.reasons-item-1 h4 {
  padding:0 40px;
  margin: 0;
}

.reasons-item-1 span {
  display: inline-block;
  margin: 27px 0 23px 0;
}

.reasons-item-1 p {
  display: inline-block;
  margin: 0;
}

.reasons-2 {
  display: flex;
}

.reasons-item-2 {
  width: 320px;
  padding: 49px 40px 61px;
}

.reasons-item-2 h4 {
  padding:0 40px;
  margin: 0;
}

.reasons-item-2 span {
  display: inline-block;
  margin:23px 0;
}

.reasons-item-2 p {
  display: inline-block;
  margin: 0;
}

.advantages {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.advantages-item {
  text-align: center;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-item h4 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 25px;
}

.advantages .advantages-item {
  width: 33%;
  margin-top: 58px;
}

.advantages-item.food {
  margin-top: 59px;
}


.advantages-item.appartments::before {
  content: url("../img/icon-1.png");
  background-size: 75px;
}

.advantages-item.gifts::before {
  content: url("../img/icon-2.png");
  margin-top: 56px;
}

.advantages-item.food::before {
  content: url("../img/icon-3.png");
  margin-top: 59px;
}

.advantages-item p {
  margin-bottom: 80px;
  padding:0 55px;
}

.features {
  display: flex;
  background-color: #eeeeee;
}

.features-item {
  text-align: center;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 33%;
  padding: 50px 60px 62px;
}

.features-item h4 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  padding:0 60px;
  margin: 0;
}

.features-item span {
  display: inline-block;
  margin: 23px 0;
}

.features-item p {
  display: inline-block;
  margin: 0;
}

.appointment {
  position: relative;
  text-align: center;
  padding-top: 50px;
  background-color: #ffffff;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;

}

.appointment-info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.appointment h4 {
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.appointment h4:hover{
  background-color:#604e43;
}

.appointment h4:focus{
  background-color: #503e33;
  color:#857871;
}

.appointment-item input {
  width: 346px;
}

.appointment p {
  display: inline-block;
  margin: 0 ;
  padding:20px 0 135px;
}

.appointment .map {
  background-position: center;
  margin-top:0;
  background-size: 1200px 593px;
  width: 1200px;
  height:  593px;
}

.form-wrapper {
  position: absolute;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  left:50%;
  transform: translateX(-50%);
  top:175px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.form-wrapper h4 {
  padding: 30px 0;
  margin: 0;
  margin-top: 27.93px;
  width: 568px;
}

.calendar {
  opacity: 0.3;
  position: absolute;
  padding-top: 7px;
  left: 85%;
}

.calendar svg {
  display: block;
}

.calendar:hover {
  opacity: 1;
}

.calendar:active {
  fill: #81b3d2;
}

.form-block {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding-top: 55px;
  width: 568px;
}

.form-block {
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.5s;
}


.search-form {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
}

.form-block label {
  display: inline-block;
  margin-bottom: 12px;
  width: 112px;
}

.adults-children-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 0;
}
.search-form.adults {
  display: flex;
  justify-content: flex-start;
  padding-right: 0;
  margin: 0;
}

.search-form.children {
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 0;
  margin-right: 45px;
}

.search-form.adults label {
  display: inline-block;
  width: 112px;
  margin-right:10px;
  padding-top:6px;
}

.search-form.children label {
  width:118px;
  padding: 0;
  padding-top:6px;
  margin: 0;
}

.search-form input {
  font:inherit;
  color: #000000;
  font-weight: 700px;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  box-sizing: border-box;
  height: 38px;
  width: 346px;
  padding: 0 40px 0 13px;
}

.adults-children-block input[type="text"] {
  font:inherit;
  color: #000000;
  font-weight: 700px;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 6px;
  text-align: center;
  margin: 0;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.search-form .button-minus,
.search-form .button-plus {
  font: inherit;
  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
}

.button-minus:focus,
.button-plus:focus {
  color: #81b3d2;
}

.button.search-button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  padding: 17px 196px;
  margin-bottom: 55px;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  min-height: 121px;
}

.footer-index {
  position: relative;
  z-index: 1;
  margin-top: -124px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 132px;
  margin-right: 102px;
  padding-top: 33px;
}

.sedona-visit {
  display: block;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

.social-link {
  text-align: center;
  list-style: none;
  width: 151px;
  margin: 0;
  padding-left: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button {
    background-color: #81b3d2;
    width: 46px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:hover path {
    fill: #ffffff;
}

.social-button:active path {
    fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  height: 42px;
  width: 197px;
  margin: 0;
  padding: 0;
}

.footer-copyright b {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 0 auto;
  vertical-align: top;
  padding: 10px 0 5px;
}

.copyright-logo path {
  fill: #231f20;
}

.copyright-logo:hover path {
	fill: #81b3d2;
}

.copyright-logo:active path {
	fill: #bdbbbc;
}

/* Style for "inner" */

.search-menu {
  background-image: url("../img/bg_banner_blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-menu fieldset {
  border: none;
  padding: 0;
}

.filter {
  display: flex;
  justify-content: flex-start;
  padding:84px 74px 5px 72px;
  margin: 0;
}

.hotel-service legend,
.hotel-type legend,
.price-menu  legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.hotel-service legend,
.hotel-type legend{
  margin-bottom: 25px;
}

.container .search-hotels-button {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: transparent;
  width: 135px;
  height: 32px;
  border: 2px solid #ffffff;
  color: #ffffff;
  margin: 34px 0 0 86px;
}

.container .search-hotels-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 318px;
  border: 2px solid #ffffff;
  padding: 0;
  margin: 13px 0 0 0;
}

.price-controls label {
 display: inline-block;
 width: 50%;
 margin: 0;
 padding: 5px 8px 5px 55px;
}

.price input {
  background-color: transparent;
  color: inherit;
  border: none;
  width: 70px;
  margin: 0;
  padding: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 2px;
  height: 22px;
  top:4px;
  left: 157px;
}

.range-controls {
  position: relative;
  margin-top: 22px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 248px;
  height: 2px;
  background-color: #ffffff;
}

.range-toggle {
  width: 20px;
  height: 22px;
  position: absolute;
  top:-10px;
  cursor: pointer;
}

.range-toggle:hover {
  background-image: url("../img/filter-button.svg");
  background-repeat:no-repeat;
  position: absolute;
  width: 22px;
  height: 24px;
  z-index: 1;
}

.range-toggle-max{
  left:245px;
}

.hotel-type {
  margin-left: 115px;
}

.price-menu {
  margin-left: auto;
}

.filter-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option label {
  vertical-align: top;
  height: 23px;
  cursor: pointer;
  text-align: left;
  margin: 0;
  padding: 0;
}


.filter-ul li {
  margin-bottom: 25px;
  padding-left:40px;
  position: relative;
}

.filter-ul li:last-child {
  padding-bottom: 0;
}


.filter-option label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 15%;
  border: 2px solid #ffffff;
  margin-right: 16px;
  position: absolute;
  left:0px;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  border: none;
  width: 27px;
  height: 23px;
  margin-right: 12px;
}

.search-result ul {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-list,
.hotels-list {
  list-style: none;
}

.search-list .count,
.hotels-list h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.search-list .sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.btn-sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.btn-sorting:hover{
  color:#81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.btn-sorting:focus{
  color:#000000;
  border-bottom: none;
}

.btn-sorting-active{
  color:#81b3d2;
  border-bottom: none;
}

.sort-up path,
.sort-down path{
  fill: #cacaca;
}

.sort-up:hover path,
.sort-down:hover path{
  fill: #231f20;
}

.sort-up:focus path,
.sort-down:focus path,
.sort-up:active path,
.sort-down:active path{
  fill: #81b3d2;
}

.search-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding:10px 0 10px 72px;
  align-items: center;
}

.search-list li:nth-child(2) {
  margin-left: 49px;
  margin-right: 7px;
}

.search-list li:nth-child(3),
.search-list li:nth-child(4),
.search-list li:nth-child(5) {
  margin-left: 33px;
}

.sort-result-btn {
  margin-left: auto;
  margin-right: 73px;
}

.search-result {
  background-color: #f2f2f2;
}

.hotels-list {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.hotels-item {
  display: flex;
  justify-content: flex-start;
  padding:26px 72px;
  border-top: 1px solid #e5e5e5;
  border-collapse: collapse;
}

.hotels-item h3 {
  margin: 0;
  text-align: left;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-left: 30px;

}

.hotel-info h3 {
  display: inline-block;
  margin: -4px 0 4px 0;;

}

.hotel-info h3:hover {
  color:#81b3d2;
}

.hotel-info h3:active{
  color: #b2b2b2;
}


.info-wrapper {
  padding-bottom: 15px;
  font-weight: 300;
}

.info-wrapper b {
  display: inline-block;
  vertical-align: top;
  width: 111px;
}

.prise {
  margin-right: 45px;
}

.button-buy {
  vertical-align: middle;
}

.button-wrapper .button-info
  {
  display: inline-block;
  font-weight: 700;
  color:#ffffff;
  background-color: #81b3d2;
  width: 111px;
  padding: 4px 0;
  text-align: center;
  vertical-align:bottom;
}

.button-wrapper .button-info:hover  {
  background-color: #669ec0;
}

.button-wrapper .button-info:focus  {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.button-wrapper .button-buy  {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  width: 142px;
  padding: 4px 0;
  color:#ffffff;
  background-color: #766357;
}

.button-wrapper .button-buy:hover  {
  background-color: #604e43;
}

.button-wrapper .button-buy:focus  {
  background-color: #503e33;
  color: rgba(100%, 100%, 100%, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.hotel-rating .rating {
  display: block;
  width: 110px;
  background-color: #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 47px;
  padding:3px 0;
}

.stars-wrapper{
  margin-left: auto;
}

.stars {
  background-image: url("../img/st.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
  width: 20px;
  height: 18px;
  z-index: 10;
}

.stars-wrapper .stars path {
  fill:#81b3d2;
}

.stars-wrapper.amara {
  width: 92px;
  height: 17px;
  display: inline-block;
  background-color: #ffffff;
  text-align: right;
}

.stars-wrapper.desert {
  width: 70px;
  height: 17px;
  display: inline-block;
  background-color: #ffffff;
}
.stars-wrapper.diablo{
  width: 45px;
  height: 17px;
  display: inline-block;
  background-color: #ffffff;
}




@keyframes bounce {

0% {
       opacity: 0;
   }
70% {
      opacity: 0.5;
  }
100% {
        opacity: 0.9;
}
}
